name: Run Tests on PR

on:
  workflow_dispatch:
  # pull_request: uncomment when we want to fold in testing on PRs againa
  #   branches:
  #     - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install AWS CDK
        run: |
          yarn
          yarn global add aws-cdk

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      - name: Run tests
        run: |
          yarn test --coverage
