name: Deploy ReserveRecApi Dev

run-name: Deploying ${{ github.ref_name }} (API) to ReserveRecApi Dev Environment

on:
  push:
    branches: [main, multistack]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

concurrency:
  group: deploy-reserve-rec-api
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: reserveRecApiDev
    strategy:
      max-parallel: 1
      matrix:
        node-version: [20.x]
    steps:
      ### Restore cdk.out cache
      - name: Restore cdk.out cache
        uses: actions/cache@v4
        with:
          path: cdk.out
          # cdk.out/manifest.json is created during cdk synth and changes when cdk.out/* changes
          key: ${{ runner.os }}-dev-cdk-out-${{ hashFiles('cdk.out/manifest.json') }}
          restore-keys: |
            ${{ runner.os }}-dev-cdk-out-

      ### Checkout GitHub Repo
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install AWS CDK
        run: |
          yarn
          yarn global add aws-cdk

      ### Assume AWS IAM Role
      - name: Get AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ vars.AWS_REGION }}

      ### CDK Deploy
      ### Note: cdk synth does not have to be run separately as cdk deploy runs it automatically
      - name: CDK Deploy
        run: export LOG_LEVEL=debug && cdk deploy -c @context=dev --all --require-approval never --rollback

      ### Save cdk.out cache
      - name: Save cdk.out cache
        uses: actions/cache@v4
        with:
          path: cdk.out
          key: ${{ runner.os }}-dev-cdk-out-${{ hashFiles('cdk.out/manifest.json') }}